{% block content %}
  <div class="row">
        <div class="col-md-5">
            <div class="mp__image">
                {# <img src="/assets/images/content/memberPortalIcon.svg" alt="" title=""> #}
                <img src="{{ entry.homepageInfoIcon.one().url }}" alt="" title="">
            </div>
        </div>
        <div class="col-md-7">
            <div class="mp__text">
                {{ entry.homepageInfoText }}
                {% if memberPortalButton.memberPortalButtonEnabled %}
                    <a class="btn btn__primary min-width" href="{{ entry.infoButtonLink }}" target="_blank" data-gaEventAction="Member Portal CTA click-through" data-gaEventCategory="Member Portal CTA" data-gaEventLabel="Member Portal CTA on homepage">{{ entry.infoButtonTitle }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}