
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="mb__content">
                {{ entry.homepageTitle }}
                <a class="btn btn__primary" href="" data-toggle="modal" data-target="#aboutModal">{{ entry.popUpButtonTitle }}</a>
            </div>
        </div>
    </div>
{% endblock %}