{% extends "_layouts/normal" %}
{% set bannerImage = entry.bannerImage %}
{% set bannerImageSrc = bannerImage|length ? bannerImage.first().url : fallbackBannerImage.bannerImage.first().url %}

{% block content %}
    <div class="main__banner" style="background-image: url('{{ bannerImageSrc }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb__content">
                        <h1>{{ entry.title }}</h1>
                        {# <a class="btn btn__primary" href="#">About this site</a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                {% include '_partials/content-blocks' %}
            </div>
        </div>
    </div>

{% endblock %}