{% extends "_layouts/normal" %}

{% block content %}

    <div class="section" id="home">
        <div class="main__banner">
            <div class="container">
                {% include '_partials/homepageIntro' %}
            </div>
        </div>
        <div class="main__panel">
            <div class="mp__content">
                <div class="container">
                    {% include '_partials/homepageInfoPanel' %}
                </div>
            </div>
        </div>
        <div class="documents__banner">
            <div class="db__content">
                <div class="container">
                    {% include '_partials/homepageDocumentsPanel' %}
                </div>
            </div>        
        </div>
        <div class="main__panel mb-5">
            <div class="mp__content">
                <div class="container">
                    {% include '_partials/homepageContactPanel' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 
 
 
 
            