html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.useful-links {
	ul {
		padding-left: 50px;
	}
	li {
		margin:0 0 30px;
		list-style: none;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			height: 30px;
			width: 30px;
			left: -40px;
			top: 0;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-image: url('/assets/images/icons/iconLink.png')
			// opacity: 0;
			// transform: translateY(50px);
			// transition: opacity 1s ease, transform 2s ease;
		}
	}
	a {
		color: $color__primary;
		font-weight: bold;
	}
}

.backdrop {
	display: none;
	background-color: rgba(0,0,0,0.4);
	opacity: 0.8;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	@include media-breakpoint-up(lg) {
		background-color: rgba(0,0,0,0.4);
	}
}