<div class="section" id="contact-us">
   <div class="main__banner style__2">
      <div class="container">
         <div class="row">
               <div class="col-md-12">
                  <div class="mb__content">
                     <h1>Contact us</h1>
                  </div>
               </div>
         </div>
      </div>
   </div>
   <div class="container mt-5">
      <div class="row">
         <div class="col-md-12">
            <div class="content-blocks row">
               <div class="col-md-6">
                  <div class="wysiwyg">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br></p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <h2 class="section-heading mb-2">Communisis</h2>
                  <div class="wysiwyg">
                     <p>If you would like to contact the Group Pensions Manager the contact details are as follows: <br></p>
                     <p>Joanne Fawcett</p>
                  </div>
                  <div class="address ">
                     <p class="address__email"><a href="mailto:pensions@communisis.com">pensions@communisis.com</a></p>
                     <p class="address__telephone">0113 222 6500</p>
                  </div>
                  <h2 class="section-heading mb-2">Communisis Pension Plan Administrator</h2>
                  <div class="address ">
                     <p class="address__email"><a href="mailto:communisis@buck.com">communisis@buck.com</a></p>
                     <p class="address__postalAddress">Buck (Manchester) <br>
                        PO Box 324 <br>
                        Mitcheldean <br>
                        GL14 9BJ
                     </p>
                     <p class="address__telephone">Member Helpline number:&nbsp;0330 123 9586</p>
                  </div>
                  <div class="wysiwyg">
                     <p>You can find an independent financial adviser (IFA) in your local area by using the “Find me an expert” search on <a href="https://www.unbiased.co.uk/" target="_blank" rel="noreferrer noopener">www.unbiased.co.uk</a>.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>