<div class="section" id="documents">
  <div class="main__banner style__2">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="mb__content">
                      <h1>Documents</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container mt-5">
    <div class="row">
        <div class="col-xl-4">
            <div class="main-content">

              <div class="content-blocks row">
                    <div class="col-12">
                      <div class="wysiwyg"><p>Welcome to the library section of the website. <br></p>
                      <p>One of the Trustee’s main aims is to ensure that the Scheme is administered and managed to the highest possible standard. <br></p>
                      <p>We are required to provide you with accessible information on the Scheme, including the following documentation and set out links below to the current versions of the documents: <br></p>
                      <ul><li>The Statement of Investment Principles (SIP) </li><li>Trustee Report and Financial Statement </li><li>Implementation Statement </li></ul>
                      <p>We’ve also provided other important documentation and reports associated with the Scheme. <br></p>
                      <p>Please click on the links below to view the documents.</p></div>

                    </div>
              </div>

            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
              {% set documents = craft.entries.section('documents').orderBy('postDate DESC').all() %}
              {% if documents|length %}
                {% for document in documents %}
                  <div class="col-xl-6">
                      <div class="db__quick_doc">
                          <img src="{{ document.documentThumbnail.one().url }}" alt="" title="">
                          <div class="db__quick_doc-text">
                              <p>{{ document.title }}</p>
                              <a class="btn btn__primary" href="{{ document.url }}">View/download</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>
    </div>
  </div>
</div>


