
<div class="main__banner" id="{{ block.targetId }}" style="background-color:{{ block.backgroundColour }}" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mb__content">
                    <h1>{{ block.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>