<div class="section" id="useful-links">
   <div class="main__banner style__2">
      <div class="container">
         <div class="row">
               <div class="col-md-12">
                  <div class="mb__content">
                     <h1>Useful links</h1>
                  </div>
               </div>
         </div>
      </div>
   </div>
   <div class="container mt-5">
      <div class="row">
         <div class="col-md-12">
            <div class="content-blocks row">
               <div class="col-12">
                  <div class="wysiwyg">
                     <p>Click the links below to access some general websites relevant to pensions.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="wysiwyg useful-links">
                     <ul>
                        <li><a href="https://www.gov.uk/" target="_blank" rel="noreferrer noopener">Gov.uk</a> <br>The official UK Government website for citizens. Directgov is the UK Government’s digital service for people in England and Wales. It delivers information and practical advice about public services, including pensions and retirement planning bringing them all together in one place. </li>
                        <li><a href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank" rel="noreferrer noopener">HM Revenue &amp; Customs (HMRC)</a> <br>HMRC was formed following the merger of the Inland Revenue and HM Customs and Excise departments. It deals with taxation and National Insurance issues.</li>
                        <li><a href="https://register.fca.org.uk/s/" target="_blank" rel="noreferrer noopener">Local Professional Advice (register.fca.org.uk)</a> <br>This website will help you find professional advice in your local area from locating an independent financial advisor, to a solicitor. </li>
                        <li><a href="https://www.gov.uk/new-state-pension" target="_blank" rel="noreferrer noopener">New State Pension</a> <br>The State Pension changed for people who reached State Pension Age on or after the 6 April 2016. This link takes you to an introduction of the new State Pension.</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="wysiwyg useful-links">
                     <ul>
                        <li><a href="https://www.gov.uk/government/organisations/department-for-work-pensions" target="_blank" rel="noreferrer noopener">The Department for Work and Pensions (DWP)</a> <br>DWP is responsible for employment, equality, benefits, pensions and child support. </li>
                        <li><a href="https://www.moneyhelper.org.uk/en" target="_blank" rel="noreferrer noopener">MoneyHelper</a> <br>MoneyHelper joins up money and pensions guidance to make it quicker and easier to find the right help. MoneyHelper brings together the support and services of three government-backed financial guidance providers: the Money Advice Service, the Pensions Advisory Service and Pension Wise. </li>
                        <li><a href="https://www.gov.uk/contact-pension-service" target="_blank" rel="noreferrer noopener">The Pension Service</a> <br>The Pension Service helps with State Pension eligibility, claims and payments. </li>
                        <li><a href="https://www.pensions-ombudsman.org.uk/" target="_blank" rel="noreferrer noopener">The Pensions Ombudsman Service</a> <br>The Pensions Ombudsman investigates and decides complaints and disputes about the way that pension schemes are run.</li>
                     </ul>
                  </div>
               </div>
               <div class="col-12">
                  <div class="wysiwyg">
                     <p><br></p>
                     <p><br></p>
                     <p><br></p>
                     <p><br></p>
                     <p><br></p>
                     <p><br></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
