<footer id="footer" role="contentinfo" class="footer">
	<div class="container">
		<div class="footer__inner pt-4 d-flex flex-row">
			<div class="content__left d-flex justify-content-start">
				<p>Communisis Pension Plan 2022</p>
				<a class="first-child" href="/assets/uploads/Website-privacy-and-cookie-policy-17-April-2019-Communisis.pdf">Privacy</a>  |  <a href="/assets/uploads/Scheme-Website-terms-use-26-April-2019-communisis.pdf">Terms of use</a>
			</div>
			<div class="content__right d-flex justify-content-end">
				<p>Designed and produced by <a href="https://www.concertconsult.co.uk/" target="_blank">Concert, a Buck Company</a></p>
			</div>
		</div>
	</div>
</footer>
