<header id="header" class="masthead main-header" role="banner">
    <div class="mh__content">
        {% include '_globals/logo' %}
        <div class="mh__nav mh__nav_desktop">
            {% include '_globals/navigation' %}
        </div>
        {% include '_globals/hamburger' %}
    </div>
    
</header>
